@mixin image-overlay($opacity: 20%) {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(246 244 243 / #{$opacity});
  }
}
