{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true,
		"jest/globals": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module", 
        "ecmaFeatures": {
            "jsx": true
		},
		"project": ["**/tsconfig.json"]
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		  },
		"import/resolver": {
		"typescript": [{
				"alwaysTryTypes": true
		}],
		  "node": {
			"extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
		  }
		}
	  },
	"extends": [
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:import/errors", 
		"plugin:import/warnings",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
		"plugin:prettier/recommended",
		"plugin:jest/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"plugins": [
		"prettier",
		"react",
		"jsx-a11y",
		"react-hooks",
		"jest",
		"@typescript-eslint"
	],
	"rules": {
		"arrow-body-style": [0, "as-needed"],
		"import/no-extraneous-dependencies": [2, { "devDependencies": true, "optionalDependencies": false, "peerDependencies": false }],
		"jest/no-disabled-tests": "warn",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/valid-expect": "error",
		"jsx-a11y/label-has-for": [ 2, {
		  "components": [ "Label" ],
		  "required": {
			"some": [ "nesting", "id" ]
		  }
		}],
		"no-new": 0,
		"no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
        "jsx-a11y/anchor-is-valid": [
            "error",
			{
                "components": ["Link"
				],
                "specialLink": ["hrefLeft", "hrefRight"
				],
                "aspects": ["invalidHref", "preferButton"
				]
			}
		],

		"import/no-unresolved": ["error", {
            "commonjs": true,
            "amd": true
        }],
		"import/default": [0],
		"import/prefer-default-export": [0],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
			  "js": "never",
			  "jsx": "never",
			  "ts": "never",
			  "tsx": "never"
			}
		 ],
        "no-class-assign": [0],
        "no-console": 1,
        "no-constant-condition": [0],
        "no-param-reassign": [0],
        "one-var": [0],
		"react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-filename-extension": "off",
		"react-hooks/rules-of-hooks": "error", 
		"react-hooks/exhaustive-deps": "warn",
		"react/react-in-jsx-scope": "off",
		"react/jsx-props-no-spreading": "off",	
		"react/require-default-props": "off",
		"react/no-array-index-key": "off",
		"react/jsx-boolean-value": [0],
        "react/jsx-closing-bracket-location": [0],
		"react/prop-types": "off",
		"react/display-name": "off",
		"no-use-before-define": "off",
  		"@typescript-eslint/no-use-before-define": ["error"],
		"prettier/prettier": "error",
		"no-underscore-dangle": "off"
	  }
}