@import "../../styles/config";

.logo {
  z-index: $logo;
  cursor: pointer;
  position: absolute;
  width: px2rem(93);
  margin-left: map-get($spacing, 1);
  margin-top: map-get($spacing, 1);

  @media (min-width: $breakpoint-md) {
    width: px2rem(120);
    margin-left: map-get($spacing, 4);
  }
}

.logo__link_inverted {
  filter: invert(1);
}
