// Sans serif Lato Font

$sans-serif-sizes: (
  xs: (
    font-size: px2rem(10) px2rem(14),
    line-height: px2rem(13) px2rem(17),
  ),
  sm: (
    font-size: px2rem(12) px2rem(16),
    line-height: px2rem(15) px2rem(19),
  ),
  md: (
    font-size: px2rem(14) px2rem(18),
    line-height: px2rem(17) px2rem(22),
  ),
  lg: (
    font-size: px2rem(18) px2rem(24),
    line-height: px2rem(22) px2rem(28),
  ),
  xl: (
    font-size: px2rem(24) px2rem(36),
    line-height: px2rem(28) px2rem(32),
  )
);

%sans-serif {
  font-family: $secondary-font;
  font-weight: 400;
  color: $primary-color;
  padding: map-get($spacing, 1);
}

%sans-serif-italic {
  font-style: italic;
}

%sans-serif-bold {
  font-weight: 600;
}

@each $size, $font-styles in $sans-serif--sizes {
  $fontSize: map-get($font-styles, font-size);
  $lineHeight: map-get($font-styles, line-height);

  %sans-serif--#{$size} {
    font-size: nth($fontSize, 1);
    line-height: nth($lineHeight, 1);

    @media (min-width: $breakpoint-lg) {
      font-size: nth($fontSize, 2);
      line-height: nth($lineHeight, 2);
    }
  }
}

@mixin sans-serif($size, $italic: false, $bold: false) {
  @extend %sans-serif;
  @extend %sans-serif-#{$size};

  @if $italic == true {
    @extend %sans-serif-italic;
  }

  @if $bold == true {
    @extend %sans-serif-bold;
  }
}
