@import "../../styles/config";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: $breakpoint-4xl;
  margin-left: auto;
  margin-right: auto;
  height: px2rem(105);
  z-index: $header;
  transition: all 0.5s ease-in-out;

  @media (min-width: $breakpoint-md) {
    height: px2rem(145);
  }
}

.header_solid {
  background-color: $off-white;
}
