// Fonts import

// $primary-font: "Lora", serif;
// $secondary-font: "Lato", sans-serif;
// $primary-color: #2E2E2E;
// $accent-color: #7DABA0;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1440px;

// $grid-gap: 20;
// $grid-margin: 40;
$spacing: (
  1: px2rem(8),
  2: px2rem(16),
  3: px2rem(24),
  4: px2rem(32),
  5: px2rem(40),
  6: px2rem(48),
  7: px2rem(64),
  8: px2rem(80),
  9: px2rem(128),
  10: px2rem(256),
);

// Z-index

$menu: 4;
$hamburger: 8;
$navigation: 5;
$navigation-item: 6;
$dropdown: 3;
$logo: 7;
